.arti {
  display: flex;
  justify-content: center;
  align-items: center;

  animation: float 3s ease-in-out infinite;
}

.arti-image {
  width: 280px;
  user-select: none;
  pointer-events: none;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}